<br>
<div class="col-md-6" style="left:25%!Important;">
  <div class="middle-body-fl">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        I have {{ contacts.length }} contacts: {{ moo }}
      </div>

      <div class="centerstuff">
      <input type="search" ng-model="find" placeholder="search" />
    </div>

      <div class="panel-body">
        <table>
          <tr ng-repeat="contact in contacts | filter:find as results">
            <td>
              <div class="col-sm-12 col-md-3" >
                <img ng-src="{{contact.picture}}" alt="" width="100" height="100">
              </div>
              <div id="info" class="col-sm-9">
                <br>
                <h4>{{contact.name}}</h4>
                <h5 style="color:#FFFFFF;">{{contact.profession}}<h5>
              </div>
            </td>

          </tr>

        </table>
      </div>
    </div>
  </div> <!-- Middle Body Friends List -->
</div><!-- col -->
