<div ng-switch="login">
<div class='embed-container'>

  <div ng-switch-when="false">
    <iframe id="video" ng-src="https://www.youtube.com/embed/PbfSULQV9co?start=243&autoplay=1&showinfo=0&controls=0&autohide=1" frameborder='0' allowfullscreen></iframe>  <a ng-bind-html="videos.link"></a>
  </div>



<div class="jumbotron" style="background-color:transparent; color:white;" id="content">

<div class="container" ng-switch-when="false">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="centerstuff">{{welcome}}</h1>
  <h3 class="centerstuff">{{builtfor}}</h3>
  <div>
    <h1 class="centerstuff">{{ logintest }}</h1>
  </div>
</div>
</div>
</div> <!-- end embed-container -->


<!-------------------------------- Body Panel ---------------------------------->
	<!-- Left Panel -->


</div> <!-- end ng-switch login -->
