<div ng-switch="login">
<div class='embed-container'>

<div class="jumbotron" style="background-color:transparent; color:white;" id="content">


<div class="container" ng-switch-when="false">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="centerstuff">{{welcome}}</h1>
  <h3 class="centerstuff">{{builtfor}}</h3>
  <div>
    <h1 class="centerstuff">{{ logintest }}</h1>
  </div>
</div>
</div>
</div> <!-- end embed-container -->


<!-------------------------------- Body Panel ---------------------------------->
	<!-- Left Panel -->

<div ng-switch-when="true" style="color: white;">
	<!-- Middle Body -->
	<div class="middle-body">

		<div class="col-md-6">
			<h1 style="text-align:center;">News Feed</h1>

			<div class="news_feed">
				<div class="post jumbotron">
					<div class="row">
						<div class="col-md-2">
							<img id="friend1" src="../images/ronaldo.jpg" alt="" height="75" width="75">
						</div>

						<div class="col-md-8">

							<a id="name_link" href=""><h4><span>Ed Sheeran<br></span></a>
								is now connected with<br>
								<a id="name_link" href""><span id="span2">Zedd</span></h4></a>
						</div>

						<div class="col-mid-2">
							<img src="../images/ronaldo.jpg" alt="" height="75" width="75">
						</div>
					</div><!-- row -->
				</div><!-- Jumbotron -->
			</div>
		</div>
	</div> <!-- Middle Body -->

</div> <!-- end body panel ng-switch -->



</div> <!-- end ng-switch login -->
