<div class="container-fluid" style="color:white;">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-8" style="left:5%!Important;">

<div style="max-height: 305!Important;">
<carousel interval="5000">
<slide ng-repeat="picture in pictures" active="slide.active">
  <img ng-src="{{picture.link}}" style="margin:auto;">
</slide>
</carousel>

</div>
            <br> </br>
            <table class="table">
                <tr>
                    <td>
                      <div>
                      <a ng-bind-html="soundcloudembed"></a>
                      </div>
                        </td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editsoundcloud">
              Edit SoundCloud
            </button>

                </tr>
                <tr>
                  <table class="table table-condensed">
                      <!-- this button allows user to change information like Current, Previous and Education-->
                      <br>
                      <tr>
                          <td colspan="3" class="centerstuff">Awards and Achievements</td>
                      </tr>


                      <div>
                      <tr ng-repeat="awards in AA">
                          <td>{{awards.Award}}</td>
                          <td>{{awards.AwardIssuer}}</td>
                          <td>{{awards.AwardYear}}</td>
                      </tr>
                    </div>
                      </tr>
                      <tr>
                  </table>
                </tr>

                <tr>
                    <td>
                        <table class="table table">
                            <thead>
                                <tr>
                                    <h2 class="centerstuff" style="font-size:18px color:black;">Upcoming Events</h2>
                                </tr>
                            </thead>
                            <tbody style="color:#FFFFFF; text-align: center;">
                                <tr>
                                    <td>Event Name</td>
                                    <td>Location</td>
                                    <td>Date</td>
                                    <td>Time</td>
                                </tr>

                                <tr ng-repeat="event in events" ng-model="events">
                                    <td>{{event.eventname}}</td>
                                    <td>{{event.location}}</td>
                                    <td>{{event.date}}</td>
                                    <td>{{event.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editevents">
        Edit Events
      </button>
                </tr>
                <tr>
                    <td>
                        <h2 class="centerstuff" style="font-size:18px">Youtube Videos</h2>
                        <div class="centerstuff" ng-repeat="video in youtube">
                        <iframe width="290" height="200" ng-src="{{video.link}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editvideos"> Edit Videos</button>
                </tr>
                <tr>
                    <td>
                        <h2 style="font-size:18px">Post on my wall!</h2>
                        <textarea class="form-control" cols="5" rows="2" ng-model="post">
</textarea>
<br>
                        <button class="btn btn-default" type="button" ng-click="postwall()" style="left:0%;">
                        Post</button>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="media" ng-model="wall" ng-repeat="post in wall">
                            <a href="#" class="pull-left">
                                <div id="img_container"><img class=
                                    "img-circle" ng-src=
                                    "{{post.picture}}"
                                    width="50px" height="50px"></div>
                            </a>
                            <div class="media-body" ng-model="post">
                                <h4 class="media-heading">{{post.user}}<small><i> {{post.postdate}}</i></small></h4>
                                <p>{{post.message}}</p>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
            </td>
            </tr>
            </table>
        </div>

        <div class="col-xs-3 container centerstuff" style="position: fixed; right:2%;">

           <div id="img_container" style="text-align: center" ng-model="profilepic">
               <img ng-src="{{profilepic}}" class="img-circle" height="190px" width="190px"></img>
           </div>



            <h2 ng-model="artistname">{{artistname}}</h2>
            <p ng-model="artistfrom">From: {{artistfrom}}</p>
            <p ng-model="artistprofession">Genre: {{artistprofession}}</p>
            <p>Follow me on:</p>


          <div ng-model="followmedia">
            <a img src="../images/YouTube-logo-full_color.png" ng-href="{{followmedia.twitter}}" class="img-responsive" alt=""></a>
            <a ng-href="{{followmedia.twitter}}">Twitter</a>
            <a ng-href="{{followmedia.facebook}}">Facebook</a>
            <a ng-href="{{followmedia.soundcloud}}">SoundCloud</a>
            <a ng-href="{{followmedia.youtube}}">YouTube</a>
            <a ng-href="{{followmedia.instagram}}">Instagram</a>
          </div>

              <br>

            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editprofile">
  Edit Profile
</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright 2015</p>
            </footer>
        </div>
    </div>
</div>


<!-- Modals! -->


<div class="modal fade" id="editprofile" tabindex="-1" role="dialog" data-toggle="modal" arialabelledby="editProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="editProfileLabel">Edit Profile Information</h4>
</div>

<div class="modal-body">
  <div class="centerstuff">
<h2>Change Profile Picture</h2>
<div id="img_container" style="text-align: center" ng-model="profilepic">
    <img ng-src="{{profilepic}}" class="img-circle" height="190px" width="190px"></img>
</div>

<h2 ng-model="artistname">{{artistname}}</h2>

<h4>Edit From</h4>
<p ng-model="artistfrom">From: {{artistfrom}}</p>

<h4>Genre</h4>
<p ng-model="artistprofession">Genre: {{artistprofession}}</p>

<h4>Edit Social Media</h4>
<a ng-href="{{followmedia.twitter}}">Twitter</a>
<a ng-href="{{followmedia.facebook}}">Facebook</a>
<a ng-href="{{followmedia.facebook}}">Instagram</a>
<a ng-href="{{followmedia.facebook}}">Soundcloud</a>
<a ng-href="{{followmedia.facebook}}">Youtube</a>


<h4>Edit Awards and Achievements</h4>
<div ng-repeat="awards in AA">
<p>{{awards.Award}} {{awards.AwardIssuer}} {{awards.AwardYear}}</p>
<span class="input-group-btn">
  <button class="btn btn-danger" ng-click="removeAward($index)" aria-label="Remove">X</button>
</span>
  </div>
  <div>
  <input type="text" class="form-control" ng-model="plusAward" placeholder="Enter new Award">
  <input type="text" class="form-control" ng-model="plusawardIssuer" placeholder="Location">
  <input type="text" class="form-control" ng-model="plusawardyear" placeholder="Date">
  <button class="btn btn-default" type="button" ng-click="addAward()" style="right:0%;">Add Award</button>
</div>

</div>

  <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

<!-- Edit Soundcloud -->


<!-- Edit Events -->

<div class="modal fade" id="editevents" tabindex="-1" role="dialog" data-toggle="modal" arialabelledby="editEventsLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="editEventsLabel">Edit Event Information</h4>
</div>

<div class="modal-body">
<h2 class="centerstuff">Edit Event Information</h2>
<div ng-repeat="upcoming in events" class="centerstuff">
<t>{{upcoming.eventname}} | {{upcoming.location}} | {{upcoming.date}} | {{upcoming.time}}</t>     <button class="btn btn-danger" ng-click="removeEvent($index)" aria-label="Remove">X</button>
<br>
</div>

<br>

<form class="form-inline">
<input type="text" class="form-control" ng-model="pluseventname" placeholder="Event Name">
<input type="text" class="form-control" ng-model="pluseventlocation" placeholder="Location">
<input type="text" class="form-control" ng-model="pluseventdate" placeholder="Date">
<input type="text" class="form-control" ng-model="pluseventtime" placeholder="Time">
</form>

<br>
<button class="btn btn-default" type="button" ng-click="addEvent()" style="right:0%;">Add Event</button>

</div>

  <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


<!-- EDIT VIDEOS -->

<div class="modal fade" id="editvideos" tabindex="-1" role="dialog" data-toggle="modal" arialabelledby="editvideos" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="editProfileLabel">Edit Youtube Videos</h4>
</div>

<div class="modal-body">
<h4>Edit Youtube Videos</h4>

<div ng-repeat="video in youtube" class="centerstuff" ng-model="youtube">
  <iframe width="320" height="200" ng-src="{{video.link}}" frameborder="0" allowfullscreen></iframe>

  <span class="input-group-btn">
    <button class="btn btn-danger" ng-click="removevideo($index)" aria-label="Remove">X</button>
  </span>
</div>

<br>

<textarea class="form-control" cols="5" rows="1" ng-model="plusvideo" placeholder="Add embed links here!">
</textarea>
<br>
<button class="btn btn-default" type="button" ng-click="addvideo()" style="right:0%;">
Add</button>

  </div>

  <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>
<!-- End  -->
