<div class="panel panel-default col-xs-8" style="background-color: transparent; left: 17%;">
<br>
<div class="panel-heading" >
   <h3 class="panel-title">Search Results</h3>
</div>
<table class="table white">
   <th>People</th>
   <th>  </th>
   <tr>
      <td>
         <div id="img_container">
            <a href="#"><img class="img-circle" src="http://remixpacks.at.ua/_ld/6/64755245.jpg" width="100px"></a>
         </div>
      </td>
      <td>
         <h1 class="white">Hardwell</h1>
         Jobs <br> <br>
         <div class="btn-group">
         <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
         Connect
         <span class="glyphicon glyphicon-user">
         </span>
         </button>
         <div class="btn-group">
         <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
         Message
         <span class="glyphicon glyphicon-envelope" "caret">
         </span>
         </button>
         <div class="btn-group">
         <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
         Donate
         <span class="glyphicon glyphicon-usd" "caret">
         </span>
         </button>
      </td>
   </tr>
   <tr>
      <td>
         <div id="img_container">
            <a href="#" class="pull-left">
               <div id="img_container"><img class=
                  "img-circle" src=
                  "http://i.forbesimg.com/media/lists/people/lionel-messi_416x416.jpg"
                  width="100px"></div>
            </a>
         </div>
      </td>
      <td>
         <h1>Messi (fix it later)</h1>
         Jobs  <br> <br>
         <div class="btn-group">
         <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
         Connect
         <span class="glyphicon glyphicon-user" "caret">
         </span>
         </button>
         <div class="btn-group">
         <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
         Message
         <span class="glyphicon glyphicon-envelope" "caret">
         </span>
         </button>
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
            Donate
            <span class="glyphicon glyphicon-usd" "caret">
            </span>
            </button>
      </td>
   </tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
