<table class="table">
  <p><a data-toggle="modal" data-target="#delete">Delete Account</a></p>
  <p><a data-toggle="modal" data-target="#subscription">Account Subscription</a></p>
  <p><a data-toggle="modal" data-target="#emailNotification">Email Notification</a></p>
  <p><a data-toggle="modal" data-target="#changeEmail">Update Email</a></p>
  <p><a data-toggle="modal" data-target="#updatePassword">Change Password</a></p>
  <p>Log out</p>
</table>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-body" style="text-align:center;" id="modalConfirm">Are you sure you want to delete your account?</h1>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-8">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <label for="inputEmail" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <label for="inputEmail" class="col-sm-3 control-label">Confirm Password</label>
              <div class="col-sm-8">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-body" style="text-align:center;" id="modalConfirm">Change Subcription Settings</h1>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="se133@devmo.com">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="emailNotification" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-body" style="text-align:center;" id="modalConfirm">Are you sure you want to delete your account?</h1>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-8">
                      <input type="email" class="form-control" id="inputEmail" placeholder="se133@devmo.com">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="changeEmail" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-body" style="text-align:center;" id="modalConfirm">Fill out the form to change your email!</h1>
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                          <div class="col-sm-8">
                          <input type="email" class="form-control" id="inputEmail" placeholder="se133@devmo.com">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-body" style="text-align:center;" id="modalConfirm">Fill out the form to change your password!</h1>
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                              <div class="col-sm-8">
                              <input type="email" class="form-control" id="inputEmail" placeholder="se133@devmo.com">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
